/* Header styles starts here */
.header-logo {width: 120px;}

.navbar-white .navbar-nav .nav-link {
  color: #fff;
  font-size: 20px;
}

.navbar-white .navbar-toggler {
  border-color: #fff;
}
/* Header styles ends here */
.login-padding { padding: 94px 0; }

.selected {
  color: rgba(0, 0, 0, 0.5);
}

.cursor-hover-icon { cursor: pointer; }